.Main {
  margin-top: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.Home {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.Project {
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.Past {
  font-size: 1rem;
  color: #bbbbbb;
}