
.Main {
  overflow-y: scroll; 
  height: 100vh;
}

.Back {
  margin-top: 0.8rem;
}

.Start{
  background-color: #FF0000;
  color: #fff;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 12px;
}

.Center{
  align-items: center;
  justify-content: center;
  text-align: center;
}

input {
  width: 12rem !important;
}