
.main {
  overflow-y: scroll; 
  height: 99vh;
}

.start{
  background-color: #FF0000;
  color: #fff;
  padding: 12px;
  font-size: 24px;
  border-radius: 12px;
  opacity: 0.92;
}

.center{
  align-items: center;
  justify-content: center;
  text-align: center;
}